@font-face {
    font-family: 'SuzukiPROBold';
    src: url('../../public/assets/fonts/bold/SuzukiPROBold.eot');
    src: url('../../public/assets/fonts/bold/SuzukiPROBold.eot?#iefix') format('embedded-opentype'),
         url('../../public/assets/fonts/bold/SuzukiPROBold.svg#SuzukiPROBold') format('svg'),
         url('../../public/assets/fonts/bold/SuzukiPROBold.ttf') format('truetype'),
         url('../../public/assets/fonts/bold/SuzukiPROBold.woff') format('woff'),
         url('../../public/assets/fonts/bold/SuzukiPROBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'SuzukiPROHeadline';
    src: url('../../public/assets/fonts/medium/SuzukiPROHeadline.eot');
    src: url('../../public/assets/fonts/medium/SuzukiPROHeadline.eot?#iefix') format('embedded-opentype'),
         url('../../public/assets/fonts/medium/SuzukiPROHeadline.svg#SuzukiPROHeadline') format('svg'),
         url('../../public/assets/fonts/medium/SuzukiPROHeadline.ttf') format('truetype'),
         url('../../public/assets/fonts/medium/SuzukiPROHeadline.woff') format('woff'),
         url('../../public/assets/fonts/medium/SuzukiPROHeadline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'SuzukiPRORegular';
    src: url('../../public/assets/fonts/ragular/SuzukiPRORegular.eot');
    src: url('../../public/assets/fonts/ragular/SuzukiPRORegular.eot?#iefix') format('embedded-opentype'),
         url('../../public/assets/fonts/ragular/SuzukiPRORegular.svg#SuzukiPRORegular') format('svg'),
         url('../../public/assets/fonts/ragular/SuzukiPRORegular.ttf') format('truetype'),
         url('../../public/assets/fonts/ragular/SuzukiPRORegular.woff') format('woff'),
         url('../../public/assets/fonts/ragular/SuzukiPRORegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

