$red: #ed1e26;
$blue: #00264A;
$darkblue: #00334C;

// @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body {
    // font-family: "SuzukiPRORegular";
    // font-family: 'Oswald', sans-serif;
    // font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.suzuki-mon {
    font-family: 'Montserrat', sans-serif;
}

.suzuki-regular {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    // font-family: "SuzukiPRORegular";
}
.suzuki-medium {
    // font-family: "SuzukiPROHeadline";
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
}
.suzuki-bold {
    // font-family: "SuzukiPROBold";
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
}

.top-100 {
    top: 100%;
}
.bottom-100 {
    bottom: 100%;
}
.left-100 {
    left: 100%;
}
.right-100 {
    right: 100%;
}
.right-0px {
    right: 0px;
}
.-right-400 {
    right: -600px;
}
.-right-500 {
    right: -600px;
}
.-right-600 {
    right: -600px;
}
.-right-700 {
    right: -600px;
}

.nav-list,
.nav-list-child {
    display: none;
}
.nav-link {
    &:hover{
         color: $red;
        > ul.nav-list {
            display: flex;
            > .nav-link {
                &:hover{
                    color: white;
                    > ul.nav-list-child {
                        display: block;
                        .nav-link {
                            &:hover{
                                color: $red;
                            }
                        }
                    }
                }
            }
        }
    }
}


.box-overlay div.title {
    bottom: -50px;
    transition: 0.3s;
    opacity: 0;
    &:hover {
        bottom: 0px;
        opacity: 1;
    }
  }

  .box-overlay {
    overflow: hidden;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(transparent),
      color-stop(33%, transparent),
      to(rgba(0, 0, 0, 0.85))
    );
  }

  .splide__arrows {
    display: block!important;
  }
.splide__arrow {
    // top: -30px;
    background: none;
    opacity: 1;
    width: 4em;
    @include md-max {
        // top: -40px;
        width: 2em;
    }
    svg {
        fill: #00264A;
    }
}
.splide__arrow svg {
    width: 40px;
    height: 40px;
    font-weight: bold;
}
.splide__arrow--next {
    // right: 15%;
    z-index: 999;
    @include md-max {
        right: 5%;
    }
}
.splide__arrow--prev {
    // left: 15%;
    @include md-max {
        left: 5%;
    }
}

.vm--modal {
    overflow: visible!important;
    border-radius: 30px!important;
    @include md-max {
        border-radius: 0px!important;
    }
}


.multiselect__single {
    text-transform: capitalize;
}
.multiselect__option--highlight {
    background: $red!important;
}

.multiselect__option--highlight:after {
    background: darken($red, 10%)!important;
}

.multiselect__option--selected.multiselect__option--highlight {
    background: $blue!important;
}
.multiselect__option--selected.multiselect__option--highlight:after {
    background: darken($blue, 10%)!important;
}
.multiselect__option span {
    text-transform: capitalize;
}

.multiselect__tags {
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid #4D6780;
}

.image-scale-effect {
    overflow: hidden;
    img {
        transition: 0.5s;
    }
    &:hover {
        img {
            transform: scale(1.2);
        }
    }
}
.image-scale-effect-small {
    overflow: hidden;
    img {
        transition: 0.5s;
    }
    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

.explore-more-button {
    span {
        transition: 0.3s;
    }
    &:hover {
        span {
            margin-left: 10px;
        }
    }
}



.page-curl:before, .page-curl:after {
	background: none;
	bottom: 12px;
	-moz-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	content: "";
	height: 10px;
	left: 12px;
	position: absolute;
	width: 40%;
	z-index: -1;
	-moz-transform: skew(-4deg) rotate(-4deg);
	-webkit-transform: skew(-4deg) rotate(-4deg);
	transform: skew(-4deg) rotate(-4deg);
}

.page-curl:after {
	-moz-transform: skew(4deg) rotate(4deg);
	-webkit-transform: skew(4deg) rotate(4deg);
	transform: skew(4deg) rotate(4deg);
	left: auto;
	right: 12px;
}

.shadow-top-bottom.shadow-left:after {
	display: block;
	bottom: auto;
	top: 15px;
	right: auto;
	left: 12px;
	-moz-box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
	box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
}

.shadow-top-bottom.shadow-right:before {
	display: block;
	bottom: auto;
	top: 15px;
	right: 12px;
	left: auto;
	-moz-box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
	box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
}

.invert-img {
    img {
        transition: 0.1s;
    }
    &:hover,&:focus {
        img {
            filter: invert(1);
        }
    }
}

.custom-scrollbar {
    &::-webkit-scrollbar {
        width: 3px;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgba(#000000,0.1);
        border-radius: 4px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: rgba(#000000,0.2);
        border-radius: 10px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: $red;
      }
}

.scrollbar-none {
    &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0px transparent;
        border-radius: 0px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 0px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: transparent;
      }
}


.shadow-rev {
    -webkit-box-shadow: -9px 0px 13px -1px rgba(199,199,199,0.76);
    -moz-box-shadow: -9px 0px 13px -1px rgba(199,199,199,0.76);
    box-shadow: -9px 0px 13px -1px rgba(199,199,199,0.76);
}


.slide-fade-enter-active {
    // transition: all .3s ease;
    transition: all 0.6s cubic-bezier(0.05, 0.06, 0.05, 0.95)
  }
  .slide-fade-leave-active {
    transition: all .3s ease;
    opacity: 0;

    // transition: all .3s cubic-bezier(.51,.92,.24,1.15);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(350px);
  }


.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: $red;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}


.bounce-enter-active {
    animation: bounce-in .4s;
  }
//   .bounce-leave-active {
//     animation: bounce-in .3s reverse;
//   }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

.flashing {
    animation: bounce-in .4s;
}

.text-shadow {
    text-shadow: 2px 4px 5px rgba(0,0,0,0.3);
}

.text-shadow-overlay {
    text-shadow: 0px 0px 20px rgba(black, 0.6);
}

// .float-button {
//     &:hover {
//         .float-name {
//             dispaly: none;
//         }
//         .float-icon {}
//     }
// }
