@font-face {
  font-family: 'SuzukiPROBold';
  src: url('SuzukiPROBold.eot');
  src: url('SuzukiPROBold.eot?#iefix') format('embedded-opentype'),
       url('SuzukiPROBold.svg#SuzukiPROBold') format('svg'),
       url('SuzukiPROBold.ttf') format('truetype'),
       url('SuzukiPROBold.woff') format('woff'),
       url('SuzukiPROBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

